@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 63% 97%;
    --foreground: 231 16% 23%;
    --card: 40 60% 99%;
    --card-foreground: 231 16% 23%;
    --popover: 40 60% 99%;
    --popover-foreground: 231 16% 23%;
    --primary: 133 38% 36%;
    --primary-foreground: 48 43% 97%;
    --secondary: 40 60% 99%;
    --secondary-foreground: 231 16% 23%;
    --muted: 36 45% 94%;
    --muted-foreground: 232 10% 43%;
    --accent: 38 45% 91%;
    --accent-foreground: 231 16% 23%;
    --destructive: 0 72% 52%;
    --destructive-foreground: 0 0% 98%;
    --border: 35 36% 86%;
    --input: 35 36% 86%;
    --ring: 133 38% 36%;
    --radius: 0.625rem;
  }

  .dark:root {
    --background: 36 63% 97%;
    --foreground: 231 16% 23%;
    --card: 40 60% 99%;
    --card-foreground: 231 16% 23%;
    --popover: 40 60% 99%;
    --popover-foreground: 231 16% 23%;
    --primary: 133 38% 36%;
    --primary-foreground: 48 43% 97%;
    --secondary: 40 60% 99%;
    --secondary-foreground: 231 16% 23%;
    --muted: 36 45% 94%;
    --muted-foreground: 232 10% 43%;
    --accent: 38 45% 91%;
    --accent-foreground: 231 16% 23%;
    --destructive: 0 72% 52%;
    --destructive-foreground: 0 0% 98%;
    --border: 35 36% 86%;
    --input: 35 36% 86%;
    --ring: 133 38% 36%;
  }
}
